@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark-color: #212428;
  --dark-color-font: #3c3e41;
  --dark-color-hover: #a7adb5;
  --light-color: #ecf0f3;
  --primary-color: #e3577c;
  --s: 2s;

  --shadow-light: -7px -7px 16px 0 #ffffff,
    7px 7px 10px -4px rgba(116, 150, 179, 0.27);
  --shadow-dark: -7px -7px 16px 0 #17181b,
    7px 7px 10px -4px rgba(64, 70, 77, 0.27);
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color-font);
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

button {
  cursor: pointer;
}

#overlay {
  display: none;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-color);
  position: fixed;
  opacity: 0;
  transition: 0.5s ease;
}

.setting-btn {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
  align-items: center;
  cursor: pointer;
}

.setting-btn p {
  font-weight: 500;
}

.setting-btn-lg {
  display: none;
}

.setting {
  position: fixed;
  display: none;
  background-color: var(--light-color);
  width: 70%;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding: 1rem;
  transition: 0.5s ease;
  opacity: 0;
}

.setting h3 {
  color: var(--dark-color-font);
  font-size: 1rem;
  font-weight: 600;
}

.setting .color {
  margin-top: 1rem;
}

.setting .theme .card {
  display: flex;
  gap: 1rem;
}

.setting .color .card {
  display: flex;
  gap: 1rem;
}

.setting .theme .card div,
.setting .color .card div {
  margin-top: 0.5rem;
  width: 3rem;
  height: 2rem;
  cursor: pointer;
}

.pink {
  background-color: #e3577c;
}

.blue {
  background-color: #4da1cd;
}

.orange {
  background-color: #ff8800;
}

.green {
  background-color: #6c8337;
}

.setting .theme .light {
  background-color: #ececa3;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  transition: 0.5s ease;
  cursor: pointer;
}

.setting .theme .dark {
  background-color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  transition: 0.5s ease;
  cursor: pointer;
}

.setting .theme .dark:hover,
.setting .theme .light:hover {
  opacity: 1;
}

.setting .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.theme-active {
  box-shadow: inset 0 0 0 3px var(--primary-color);
  transition: 0.5s ease;
  opacity: 1 !important;
}
.color-active {
  box-shadow: inset 0 0 0 3px var(--dark-color-font);
  transition: 0.5s ease;
  opacity: 1 !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: var(--light-color);
  transition: 0.5s ease;
  overflow-x: hidden !important;
}

.screen {
  display: none;
  opacity: 0;
  transition: 1s ease;
}

nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-color);
}

nav .logo,
nav .logo-list {
  display: flex;
  align-items: center;
}

nav .logo img,
nav .logo-list img {
  border: 2px solid var(--dark-color-hover);
  border-radius: 50%;
  width: 40px;
}

nav ul {
  position: fixed;
  margin: 0;
  top: 0;
  left: -1000px;
  padding: 1rem;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 999;
  background-color: var(--light-color);
  height: 100vh;
  transition: 0.5s ease;
}

nav .logo h1 {
  color: var(--dark-color-font);
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

nav ul .logo {
  display: flex;
}

nav ul li a {
  font-size: 1.1rem;
  color: var(--dark-color-font);
  transition: 0.5s ease;
  font-weight: 600;
}

nav ul li a:hover {
  color: var(--dark-color-font);
}

.hovered {
  color: var(--dark-color-hover);
}

.active {
  color: var(--dark-color-font);
}

.hamburger-menu {
  width: 50px;
  height: 50px;
  background-color: var(--light-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-light);
  transition: 0.5s ease;
}

.hamburger-menu:hover {
  background-color: var(--primary-color);
  transition: 0.5s ease;
  color: var(--light-color);
}

hr {
  display: block;
  width: 100%;
  border: 1px solid rgb(218, 218, 218);
}

#nav-bar-floating {
  background-color: #ecf0f367;
  backdrop-filter: blur(5px);
  position: fixed;
  top: -7rem;
  width: 93vw;
  padding: 0.5rem 1rem;
  z-index: 9;
  transition: 0.5s ease;
}

#nav-bar-floating .logo img {
  width: 40px;
}

#nav-bar-floating .logo h1 {
  font-size: 0.9rem;
}

#nav-bar-floating .hamburger-menu {
  width: 40px;
  height: 40px;
}

/* Hero */

.hero {
  margin-top: 2rem;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.hero .card-img {
  position: relative;
  height: 300px;
}

.hero .card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  pointer-events: none;
}

.hero .card-img .shape {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 60%;
  height: 80%;
  border-radius: 1rem;
  background-color: var(--light-color);
  box-shadow: var(--shadow-light);
  transition: 0.5s ease;
}

.hero article {
  padding: 0 1rem;
}

.hero article .welcome {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--dark-color-font);
}

.hero article .title {
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--dark-color-font);
}

.hero article .title span {
  color: var(--primary-color);
  transition: 0.5s ease;
}

.hero article .typing-card {
  font-size: 2rem;
}

.hero article .desc {
  margin-top: 1rem;
  text-align: justify;
  line-height: 1.5rem;
  font-size: 0.8rem;
  color: var(--dark-color-font);
}

.social {
  margin-top: 3rem;
  transition: 0.5s ease;
}

.social h1,
.social h2 {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--dark-color-font);
}

.social .content {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.social .content .icon {
  background-color: var(--light-color);
  box-shadow: var(--shadow-light);
  padding: 0.6rem;
  border-radius: 1rem;
  transition: 0.5s ease;
}

.social .content .icon:hover {
  background-color: var(--primary-color);
  transition: 0.5s ease;
  color: var(--light-color);
}

/* Feature */

#feature {
  padding-top: 4rem;
}

.feature .title {
  margin: 1rem;
  font-size: 0.7rem;
  color: var(--primary-color);
  transition: 0.5s ease;
  letter-spacing: 0.3rem;
}

.feature h1 {
  margin: 1rem;
  color: var(--dark-color-font);
  font-size: 2rem;
}

.feature .container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.feature .container .card .icon {
  color: var(--primary-color);
  transition: 0.5s ease;
  transition: 0.5s ease;
}

.feature .container .card {
  width: 100%;
  background-color: var(--light-color);
  box-shadow: var(--shadow-light);
  border-radius: 1rem;
  padding: 4rem 2rem;
  transition: 0.5s ease;
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.feature .container .card h2 {
  margin-top: 1rem;
  font-weight: 400;
  color: var(--dark-color-font);
  transition: 0.5s ease;
}

.feature .container .card p {
  font-size: 0.8rem;
  text-align: justify;
  color: var(--dark-color-font);
  margin-top: 1rem;
  line-height: 1.5rem;
  transition: 0.5s ease;
}

.feature .container .card:hover {
  background-color: var(--primary-color);
  transition: 0.5s ease;
  color: var(--light-color);
}

.feature .container .card:hover h2,
.feature .container .card:hover p,
.feature .container .card:hover .icon {
  color: var(--light-color);
}

/* Portfolio */

#portfolio {
  padding-top: 4rem;
}

.portfolio .title {
  text-align: center;
  font-size: 0.7rem;
  color: var(--primary-color);
  transition: 0.5s ease;
  letter-spacing: 0.3rem;
  margin: 1rem;
}

.portfolio h1 {
  margin-top: 1rem;
  color: var(--dark-color-font);
  font-size: 2rem;
  text-align: center;
}

.portfolio .container {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.portfolio .container .card {
  width: 100%;
  background-color: var(--light-color);
  box-shadow: var(--shadow-light);
  padding: 2rem;
  border-radius: 1rem;
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.portfolio .container .card .card-img {
  width: 100%;
  height: 162px;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
}

.portfolio .container .card .card-img img {
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.portfolio .container .card img:hover {
  transform: scale(1.2);
}

.portfolio .container .card .category {
  margin-top: 1rem;
  color: var(--primary-color);
  transition: 0.5s ease;
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-size: 0.7rem;
}

.portfolio .container .card h2 {
  margin-top: 1rem;
  color: var(--dark-color-font);
  font-size: 1.2rem;
  font-weight: 600;
}

/* Resume */
#resume {
  padding-top: 4rem;
}

.resume .title {
  text-align: center;
  font-size: 0.7rem;
  color: var(--primary-color);
  transition: 0.5s ease;
  letter-spacing: 0.3rem;
}

.resume h1 {
  text-align: center;
  margin-top: 1rem;
  color: var(--dark-color-font);
  font-size: 2rem;
}

.resume .btn-category {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.resume .btn-category button {
  background-color: var(--light-color);
  box-shadow: var(--shadow-light);
  width: 10rem;
  height: 3rem;
  border: none;
  color: var(--dark-color-font);
  border-radius: 1rem;
}

.active-btn {
  background-color: var(--primary-color) !important;
  transition: 0.5s ease;
  color: var(--light-color) !important;
}

.resume .container {
  margin-top: 2rem;
  overflow: hidden;
}

.resume .container-edu {
  position: relative;
  padding-left: 2rem;
  margin-top: 1rem;
  transition: 0.5s ease;
  margin: 1rem;
}

.side-line {
  position: absolute;
  left: -0.15rem;
  width: 3px;
  height: 28rem;
  background-color: var(--dark-color-hover);
}

.resume .container-edu .line {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--light-color);
  border: 3px solid var(--dark-color-hover);
  left: -0.7rem;
  top: 7rem;
  transition: 0.5s ease;
}

.resume .container-edu .line-dash {
  top: 7.5rem;
  left: 0;
  z-index: -1;
  position: absolute;
  width: 3rem;
  height: 3px;
  background-color: var(--dark-color-hover);
  transition: 0.5s ease;
}

.resume .container-edu h2,
.resume .container-exp h2 {
  color: var(--dark-color-font);
}

.resume .container-edu > p {
  color: var(--primary-color);
  transition: 0.5s ease;
  margin-top: 1rem;
}

.resume .container-edu .card-academic {
  padding: 1rem;
  background-color: var(--light-color);
  color: var(--dark-color-font);
  box-shadow: var(--shadow-light);
  transition: 0.5s ease;
  border-radius: 1rem;
  margin-top: 1rem;
}

.resume .container-edu .card-academic:hover,
.resume .container-exp .card:hover {
  background-color: var(--primary-color);
  transition: 0.5s ease;
  color: var(--light-color);
}

.resume .container-edu .card-academic:hover h3,
.resume .container-edu .card-academic:hover h4,
.resume .container-edu .card-academic:hover .title-card,
.resume .container-edu .card-academic:hover .desc,
.resume .container-exp .card:hover h3,
.resume .container-exp .card:hover h4,
.resume .container-exp .card:hover .title-card,
.resume .container-exp .card:hover .desc {
  color: var(--light-color);
}

.resume .container-edu .card-academic h3,
.resume .container-exp .card h3 {
  color: var(--dark-color-font);
  transition: 0.5s ease;
}
.resume .container-edu .card-academic > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resume .container-edu .card-academic h4 {
  font-weight: 600;
  margin-top: 0.5rem;
  color: var(--dark-color-font);
  transition: 0.5s ease;
}

.resume .container-edu .card-academic .title-card {
  color: var(--dark-color-font);
  font-size: 0.8rem;
  transition: 0.5s ease;
}

.resume .container-edu .card-academic .gpa {
  font-size: 0.7rem;
  background-color: var(--primary-color);
  transition: 0.5s ease;
  color: var(--light-color);
  padding: 0.5rem;
  transition: 0.5s ease;
  border-radius: 0.5rem;
}

.resume .container-edu .card-academic:hover .gpa {
  background-color: var(--light-color);
  color: var(--primary-color);
  transition: 0.5s ease;
}

.resume .container-edu .card-academic .desc,
.resume .container-exp .card .desc {
  margin-top: 1rem;
  font-size: 0.8rem;
  text-align: justify;
  line-height: 1.2rem;
  color: var(--dark-color-font);
  transition: 0.5s ease;
}

.resume .container-edu .card,
.resume .container-exp .card {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--light-color);
  box-shadow: var(--shadow-light);
  border-radius: 1rem;
  transition: 0.5s ease;
}

.resume .container-exp .card {
  margin: 1rem;
}

.resume .container-edu .card ul {
  margin-top: 0.5rem;
  padding-left: 1rem;
}

.resume .container-edu .card ul li {
  margin-bottom: 0.5rem;
  list-style: circle;
}

.resume .container-edu .card ul li:last-child {
  margin-bottom: 0;
}

.resume .container-edu .card ul li a {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--primary-color);
  transition: 0.5s ease;
}

.resume .container-edu .card ul li a:hover {
  text-decoration: underline;
}

.resume .container-edu .line-2 {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--light-color);
  border: 3px solid var(--dark-color-hover);
  left: -0.7rem;
  top: 27.5rem;
  transition: 0.5s ease;
}

.resume .container-edu .line-dash-2 {
  top: 28rem;
  left: 0;
  z-index: -1;
  position: absolute;
  width: 3rem;
  height: 3px;
  background-color: var(--dark-color-hover) !important;
}

.resume .container-exp {
  display: none;
  position: relative;
  padding-left: 2rem;
  margin-top: 1rem;
  transition: 0.5s ease;
  overflow: hidden;
}

.resume .container-exp .card .title-card {
  color: var(--dark-color-font);
  font-size: 0.8rem;
  transition: 0.5s ease;
}

.resume .container-exp .card h4 {
  font-weight: 600;
  margin-top: 0.5rem;
  color: var(--dark-color-font);
  transition: 0.5s ease;
}

.resume .container-exp .card .desc {
  margin-bottom: 1rem;
}

.resume .container-exp .card a {
  color: var(--primary-color);
  transition: 0.5s ease;
  font-size: 0.8rem;
  transition: 0.5s ease;
}

.resume .container-exp .card a:hover {
  text-decoration: underline;
}

.resume .container-exp .card:hover a {
  color: var(--light-color);
}

.side-line-2 {
  position: absolute;
  left: -0.15rem;
  width: 3px;
  height: 23rem;
  background-color: var(--dark-color-hover);
}

.resume .container-exp .line {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--light-color);
  border: 3px solid var(--dark-color-hover);
  left: -0.7rem;
  top: 5rem;
  transition: 0.5s ease;
}

.resume .container-exp .line-dash {
  top: 5.5rem;
  left: 0;
  z-index: -1;
  position: absolute;
  width: 3rem;
  height: 3px;
  background-color: var(--dark-color-hover);
}

.resume .container-exp .line-2 {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--light-color);
  border: 3px solid var(--dark-color-hover);
  left: -0.7rem;
  top: 22.5rem;
  transition: 0.5s ease;
}

.resume .container-exp .line-dash-2 {
  top: 23rem;
  left: 0;
  z-index: -1;
  position: absolute;
  width: 3rem;
  height: 3px;
  background-color: var(--dark-color-hover);
  transition: 0.5s ease;
}

.resume .container-exp .card .desc ul {
  list-style: circle;
  padding-left: 1rem;
}

.resume .container-exp .card .desc ul li {
  margin-bottom: 0.5rem;
}

.resume .container-skil {
  position: relative;
  padding-left: 2rem;
  margin-top: 2rem;
  margin: 1rem;
}

.resume .container-skil .side-line-3 {
  position: absolute;
  left: -0.15rem;
  width: 3px;
  height: 22rem;
  background-color: var(--dark-color-hover);
}

.resume .container-skil .line,
.resume .container-skil .line-2,
.resume .container-skil .line-3,
.resume .container-soft-skill .line {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--light-color);
  border: 3px solid var(--dark-color-hover);
  left: -0.7rem;
  top: 4.5rem;
  transition: 0.5s ease;
}

.resume .container-skil .line-2 {
  top: 15.5rem;
}

.resume .container-skil .line-3 {
  top: 22rem;
}

.resume .container-soft-skill .line {
  top: 4rem;
}

.resume .container-skil .line-dash,
.resume .container-skil .line-dash-2,
.resume .container-skil .line-dash-3,
.resume .container-soft-skill .line-dash {
  position: absolute;
  top: 5rem;
  left: 0;
  z-index: -1;
  width: 2rem;
  height: 3px;
  background-color: var(--dark-color-hover);
  transition: 0.5s ease;
}

.resume .container-skil .line-dash-2 {
  top: 16rem;
}

.resume .container-skil .line-dash-3 {
  top: 22.5rem;
}

.resume .container-soft-skill .line-dash {
  top: 4.5rem;
}

.resume .container-skil h2 {
  color: var(--dark-color-font);
}

.resume .container-skil .card {
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: var(--shadow-light);
  border-radius: 1rem;
  background-color: var(--light-color);
  color: var(--dark-color-font);
  transition: 0.5s ease;
}

.resume .container-skil .card:hover {
  background-color: var(--primary-color);
  transition: 0.5s ease;
  color: var(--light-color);
}

.resume .container-skil .card ul {
  margin-top: 1rem;
  font-size: 0.8rem;
  list-style: circle;
  padding-left: 1rem;
}

.resume .container-skil .card ul li {
  margin-bottom: 0.5rem;
}

.resume .container-skil .card ul li:last-child {
  margin-bottom: 0;
}

.resume .container-soft-skill {
  position: relative;
  height: 45.5vh;
  padding-left: 2rem;
  margin-top: 2rem;
  padding-bottom: 4rem;
  display: none;
  margin: 1rem;
}

.resume .container-soft-skill h2 {
  color: var(--dark-color-font);
}

.resume .container-soft-skill .card {
  box-shadow: var(--shadow-light);
  background-color: var(--light-color);
  padding: 1rem;
  margin-top: 1rem;
  color: var(--dark-color-font);
  border-radius: 1rem;
  transition: 0.5s ease;
}

.resume .container-soft-skill .card:hover {
  color: var(--light-color);
  background-color: var(--primary-color);
  transition: 0.5s ease;
}

.resume .container-soft-skill .card ul {
  font-size: 0.8rem;
  list-style: circle;
  padding-left: 1rem;
}

.resume .container-soft-skill .card ul li {
  margin-bottom: 0.5rem;
}

.resume .container-soft-skill .card ul li:last-child {
  margin-bottom: 0;
}

.resume .container-soft-skill .side-line-3 {
  position: absolute;
  left: -0.15rem;
  width: 3px;
  height: 4.5rem;
  background-color: var(--dark-color-hover);
}

/* Contact */
#contact {
  padding-top: 4rem;
}

.contact .title {
  text-align: center;
  font-size: 0.7rem;
  color: var(--primary-color);
  transition: 0.5s ease;
  letter-spacing: 0.3rem;
}

.contact h1 {
  text-align: center;
  margin-top: 1rem;
  color: var(--dark-color-font);
  font-size: 2rem;
}

.contact .container {
  overflow: hidden;
}

.contact .card {
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--light-color);
  color: var(--dark-color-font);
  box-shadow: var(--shadow-light);
  transition: 0.5s ease;
  margin: 1rem;
  margin-top: 2rem;
}

.contact .card h2 {
  font-weight: 500;
  font-size: 1.2rem;
}

.contact .card .desc {
  margin-top: 1rem;
  font-size: 0.8rem;
  text-align: justify;
}

.contact .card .phone {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.contact .card .social {
  margin-top: 2rem;
}

.contact .card .social h2 {
  font-weight: 500;
  font-size: 0.8rem;
}

.contact .card-form {
  position: relative;
  background-color: var(--light-color);
  color: var(--dark-color-font);
  box-shadow: var(--shadow-light);
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
  transition: 0.5s ease;
  margin: 1rem;
}

.contact .card-form form label {
  display: block;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 0.9rem;
}

.contact .card-form form label:first-child {
  margin-top: 0;
}

.contact .card-form form input {
  padding: 0.5rem 0rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  width: calc(100% - 0.5rem);
  color: var(--dark-color-font);
  font-size: 0.8rem;
  height: 1.5rem;
  transition: 0.5s ease;
}

.contact .card-form form input:focus,
.contact .card-form form textarea:focus {
  outline: 1px solid var(--primary-color);
  transition: 0.5s ease;
}

.contact .card-form .phone-card {
  margin-top: 1rem;
}

.contact .card-form form textarea {
  padding: 0.5rem 0rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  border: none;
  outline: none;
  height: 4rem;
  border-radius: 0.5rem;
  width: calc(100% - 0.5rem);
  resize: none;
  color: var(--dark-color-font);
  font-size: 0.8rem;
  transition: 0.5s ease;
}

.contact .card-form form button {
  margin-top: 1rem;
  border: none;
  box-shadow: var(--shadow-light);
  background-color: var(--light-color);
  color: var(--dark-color-font);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  transition: 0.5s ease;
}

.contact .card-form form button:hover {
  background-color: var(--primary-color);
  transition: 0.5s ease;
  color: var(--light-color);
}

footer {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

footer .container p {
  text-align: center;
  font-size: 0.8rem;
  color: var(--dark-color-hover);
}

footer .container p a {
  color: var(--primary-color);
  transition: 0.5s ease;
}

/* iPad */
@media (min-width: 768px) {
  nav {
    padding: 1rem 3rem;
    display: flex !important;
    align-items: center !important;
  }
  nav ul {
    position: static !important;
    display: flex !important;
    flex-direction: row;
    background-color: transparent !important;
    gap: 1rem;
    width: auto;
    height: auto;
    padding: 0;
    transition: 0.5s ease;
  }

  nav ul li a {
    font-size: 1rem !important;
  }

  #nav-bar-floating {
    width: 87.5vw;
    padding: 0.5rem 3rem;
  }
  #nav-bar-floating .logo img {
    width: 40px !important;
  }

  #nav-bar-floating .logo h1 {
    font-size: 1rem;
  }

  .logo-list {
    background-color: #212428;
    display: none !important;
  }

  nav .logo-list h1 {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }

  nav ul .logo {
    display: flex;
  }

  nav ul li a {
    font-size: 1.1rem;
  }

  .hamburger-menu {
    display: none;
  }

  .border-nav {
    display: none;
  }

  .setting-btn {
    display: none;
  }

  .setting-btn-lg {
    position: fixed;
    background-color: white;
    top: 30%;
    z-index: 999;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-left: 0.2rem;
    border-radius: 0 0.5rem 0.5rem 0rem;
    transition: 0.5s ease;
  }

  .setting-btn-lg:hover {
    border-right: 2px solid var(--primary-color);
    transition: 0.5s ease;
  }

  /* Hero */
  .hero article {
    padding: 0 3rem;
  }

  .hero article .welcome {
    font-size: 1rem;
  }

  .hero article .title,
  .hero article .typing-card {
    font-size: 3rem;
  }

  .hero article .desc {
    font-size: 1.2rem;
  }

  .social .content {
    margin-top: 1rem;
  }

  .social .content h1 {
    font-size: 0.9rem;
  }

  .social .content .icon {
    padding: 1rem;
  }

  /* Feature */

  .feature {
    padding: 0 3rem;
  }

  .feature .title {
    font-size: 1rem;
  }

  .feature h1 {
    font-size: 2.5rem;
  }

  .feature .container {
    gap: 1rem;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .feature .container .card {
    margin: 0 1rem;
  }

  .feature .container .card p {
    font-size: 1rem;
  }

  /* Portfolio */
  .portfolio {
    padding: 0 3rem;
  }

  .portfolio .title {
    font-size: 1rem;
  }

  .portfolio h1 {
    font-size: 2.5rem;
  }

  .portfolio .container {
    gap: 1rem;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .portfolio .container .card {
    width: 100%;
    margin: 0 1rem;
  }

  /* Resume */

  .resume {
    padding: 0 3rem;
  }

  .resume .title {
    font-size: 1rem;
  }

  .resume h1 {
    font-size: 2.5rem;
  }

  .resume .container-edu .side-line {
    height: 22rem;
  }
  .resume .container-edu .line-2 {
    top: 21.5rem;
  }

  .resume .container-edu .line-dash-2 {
    top: 22rem;
  }
  .resume .container-exp .side-line-2 {
    height: 19rem;
  }
  .resume .container-exp .line-2 {
    top: 18.5rem;
  }

  .resume .container-exp .line-dash-2 {
    top: 19rem;
  }

  /* Contact */
  .contact {
    padding: 0 3rem;
  }

  .contact .title {
    font-size: 1rem;
  }

  .contact h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  #nav-bar-floating {
    width: 91vw;
  }

  .hero {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero article {
    width: 50%;
  }

  .hero article .welcome {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .hero .card-img {
    height: 400px;
    width: 400px;
    margin-right: 3rem;
  }
  .hero .card-img .shape {
    width: 100%;
  }

  .hero article .title,
  .hero article .typing-card {
    font-size: 2.5rem;
  }

  .hero article .social h1 {
    font-size: 0.9rem;
  }

  /* Feature */
  #feature {
    padding-top: 5rem;
  }
  .feature h1 {
    font-size: 3rem;
  }

  .feature .container .card {
    width: 22rem;
    padding: 4rem 3rem;
    margin: 0;
  }

  /* Portfolio */
  #portfolio {
    padding-top: 5rem;
  }

  .portfolio h1 {
    font-size: 3rem;
  }

  .portfolio .container .card {
    width: 24rem;
    margin: 0;
  }

  .portfolio .container .card .category {
    font-size: 1rem;
  }

  .portfolio .container .card h2 {
    font-size: 1.4rem;
  }

  /* Resume */
  #resume {
    padding-top: 5rem;
  }

  .resume h1 {
    font-size: 3rem;
  }
  .resume .btn-category {
    display: none;
  }

  .resume .container {
    display: flex;
    gap: 2rem;
  }

  .resume .container-edu {
    display: block !important;
  }

  .resume .container-exp {
    display: block !important;
  }

  .resume .container-edu .side-line {
    height: 25rem;
  }
  .resume .container-edu .line-2 {
    top: 24rem;
  }

  .resume .container-edu .line-dash-2 {
    top: 24.5rem;
  }
  .resume .container-exp .side-line-2 {
    height: 21rem;
  }
  .resume .container-exp .line-2 {
    top: 21rem;
  }

  .resume .container-exp .line-dash-2 {
    top: 21.5rem;
  }

  .resume .container-skil {
    display: block !important;
    width: 50%;
  }

  .resume .container-soft-skill {
    display: block !important;
    width: 50%;
  }

  /* Contact */
  #contact {
    padding-top: 5rem;
  }
  .contact h1 {
    font-size: 3rem;
  }

  .contact .container {
    display: flex;
    gap: 2rem;
  }

  .contact .container .card,
  .contact .container .card-form {
    width: 50%;
  }

  .contact .container .card h2 {
    font-size: 2rem;
  }

  .contact .container .card .desc,
  .contact .container .card .phone {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  .contact .container .card-form {
    margin-top: 2rem;
  }

  .contact .container .card .social h2 {
    font-size: 1rem;
  }

  .contact .container .card-form .form-phone {
    display: flex;
    gap: 1rem;
  }

  .contact .container .card-form .form-phone div {
    width: 50%;
  }

  .contact .card-form .phone-card {
    margin-top: 0rem;
  }
}

/* Desktop HD */
@media (min-width: 1200px) {
  #nav-bar-floating {
    width: 91.5vw;
  }

  /* Hero */
  .hero article .title,
  .hero article .typing-card {
    font-size: 3.5rem;
  }

  .hero article .desc {
    letter-spacing: 0.1rem;
  }

  .hero .card-img {
    height: 500px;
    margin-right: 5rem;
  }

  .hero article {
    padding: 0 6rem;
  }

  /* Feature */
  .feature {
    padding: 0 6rem;
  }

  .feature h1 {
    font-size: 4rem;
  }

  /* Portfolio */
  .portfolio {
    padding: 0 6rem;
  }

  .portfolio h1 {
    font-size: 4rem;
  }

  .portfolio .container .card h2 {
    font-size: 1.2rem;
  }

  /* Resume */

  .resume {
    padding: 0 6rem;
  }

  .resume h1 {
    font-size: 4rem;
  }

  .resume .desc,
  .resume .container-skil .card ul li,
  .resume .container-soft-skill .card ul li {
    font-size: 0.9rem !important;
    color: var(--dark-color-font);
    line-height: 1.4rem !important;
    transition: 0.5s ease;
  }

  .resume .card:hover .desc,
  .resume .card-academic:hover .desc,
  .resume .container-skil .card:hover ul li,
  .resume .container-soft-skill .card:hover ul li {
    color: var(--light-color) !important;
  }

  .resume .container-edu ul li {
    margin-top: 0.3rem;
  }

  .resume ul li a {
    font-size: 0.9rem !important;
  }

  .resume .container-exp .side-line-2 {
    height: 22rem;
  }
  .resume .container-exp .line-2 {
    top: 22rem;
  }

  .resume .container-exp .line-dash-2 {
    top: 22.5rem;
  }

  .resume .container .container-skil .side-line-3 {
    height: 25rem;
  }

  .resume .container .container-skil .line-2 {
    top: 17rem;
  }

  .resume .container .container-skil .line-3 {
    top: 24rem;
  }
  .resume .container .container-skil .line-dash-2 {
    top: 17.5rem;
  }

  .resume .container .container-skil .line-dash-3 {
    top: 24.5rem;
  }
}

.border {
  border: 1px solid rgb(231, 231, 231);
  margin: auto;
  margin-top: 5rem;
  width: 80%;
}

/* Dark theme */
.body-dark,
.nav-dark,
.nav-dark ul,
.nav-dark .hamburger-menu,
.hero-dark .card-img .shape,
.hero-dark .social .content .icon,
.contact-dark .social .content .icon,
.feature-dark .container .card,
.portfolio-dark .container .card,
.resume-dark .btn-category button,
.resume-dark .container-edu .card-academic,
.resume-dark .container-edu .card,
.resume-dark .container-exp .card,
.resume-dark .container-skil .card,
.resume-dark .container-soft-skill .card,
.contact-dark .card,
.contact-dark .card-form,
.contact-dark .card-form form button,
.setting-dark {
  background-color: var(--dark-color);
  transition: 0.5s ease;
}

.nav-dark .logo h1,
.nav-dark ul li a,
.nav-dark p,
.nav-dark .hamburger-menu,
.hero-dark article .welcome,
.hero-dark article .title,
.hero-dark article .desc,
.hero-dark .social h1,
.contact-dark .social h2,
.hero-dark .social .content .icon,
.contact-dark .social .content .icon,
.feature-dark h1,
.feature-dark .container .card h2,
.feature-dark .container .card p,
.portfolio-dark h1,
.portfolio-dark .container .card h2,
.resume-dark h1,
.resume-dark .btn-category button,
.resume-dark .container-edu h2,
.resume-dark .container-exp h2,
.resume-dark .container-edu .card-academic,
.resume-dark .container-edu .card-academic h3,
.resume-dark .container-edu .card-academic h4,
.resume-dark .container-edu .card-academic .title-card,
.resume-dark .container-edu .card-academic .desc,
.resume-dark .container-exp .card .desc,
.resume-dark .container-exp .card h3,
.resume-dark .container-exp .card .title-card,
.resume-dark .container-exp .card h4,
.resume-dark .container-skil h2,
.resume-dark .container-skil .card h3,
.resume-dark .container-skil .card .desc ul li,
.resume-dark .container-soft-skill h2,
.resume-dark .container-soft-skill .card ul li,
.contact-dark .card,
.contact-dark h1,
.contact-dark .card-form label,
.contact-dark .card-form form input,
.contact-dark .card-form form textarea,
.contact-dark .card-form form button,
.setting-dark h3,
.setting-dark .close,
.resume-dark .container-edu .card ul li {
  color: var(--light-color);
}

.hero-dark article .typing,
.resume-dark .container-edu .card h3 {
  color: var(--light-color) !important;
}

/* .nav-dark-floating {
  background-color: var(--dark-color) !important;
} */

.nav-dark ul li a:hover {
  color: var(--primary-color);
  transition: 0.5s ease;
}

.nav-dark .hamburger-menu:hover,
.hero-dark .social .content .icon:hover {
  background-color: var(--primary-color);
  transition: 0.5s ease;
}

.nav-dark .hovered {
  color: var(--dark-color-font);
}

.contact-dark .card-form form input,
.contact-dark .card-form form textarea {
  background-color: var(--dark-color-font);
}

.nav-dark .hamburger-menu,
.hero-dark .card-img .shape,
.hero-dark .social .content .icon,
.contact-dark .social .content .icon,
.feature-dark .container .card,
.portfolio-dark .container .card,
.portfolio-dark .container .card,
.resume-dark .btn-category button,
.resume-dark .container-edu .card-academic,
.resume-dark .container-edu .card,
.resume-dark .container-exp .card,
.resume-dark .container-skil .card,
.resume-dark .container-soft-skill .card,
.contact-dark .card,
.contact-dark .card-form,
.contact-dark .card-form form button,
.setting-dark {
  box-shadow: var(--shadow-dark);
}

.body-dark .border {
  border: 1px solid var(--dark-color-font);
  transition: 0.5s ease;
}

/* HTML: <div class="loader"></div> */
.success {
  display: none;
  background-color: rgb(184, 255, 207);
  border: 1px solid green;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  text-align: center;
  width: 60%;
  padding: 1rem;
  color: green;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
}
.failed {
  display: none;
  background-color: rgb(255, 187, 187);
  border: 1px solid red;
  padding: 1rem;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  width: 60%;
  text-align: center;
  color: red;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
}

.card-loader {
  display: none;
  position: absolute;
  top: 0;
  background-color: #ecf0f36b;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  z-index: 9;
  left: 0;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.loader-dark {
  background-color: #212428b7 !important;
}

.loader {
  --w: 10ch;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  color: var(--primary-color);
  animation: l17-dark 2s infinite;
}
.loader:before {
  content: "Loading...";
}

/* Techstack */
.tech-stack {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.tech-stack div {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--light-color);
  font-size: 0.8rem;
  user-select: none;
}

.tech-stack .html {
  background-color: #e44d26;
}
.tech-stack .css {
  background-color: #42a5f5;
}
.tech-stack .javascript {
  background-color: #ffca28;
}

.tech-stack .vuejs {
  background-color: #3fb27f;
}

.tech-stack .kotlin {
  background-color: #6572da;
}

.tech-stack .jetpack {
  background-color: #3bd482;
}

.tech-stack .php {
  background-color: #7377ad;
}

.tech-stack .laravel {
  background-color: #ff1208;
}

.tech-stack .golang {
  background-color: #00a7d0;
}

@keyframes l17-dark {
  0% {
    text-shadow: calc(0 * var(--w)) -1.2em var(--primary-color),
      calc(-1 * var(--w)) -1.2em var(--primary-color),
      calc(-2 * var(--w)) -1.2em var(--primary-color),
      calc(-3 * var(--w)) -1.2em var(--primary-color),
      calc(-4 * var(--w)) -1.2em var(--primary-color),
      calc(-5 * var(--w)) -1.2em var(--primary-color),
      calc(-6 * var(--w)) -1.2em var(--primary-color),
      calc(-7 * var(--w)) -1.2em var(--primary-color),
      calc(-8 * var(--w)) -1.2em var(--primary-color),
      calc(-9 * var(--w)) -1.2em var(--primary-color);
  }
  4% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) -1.2em var(--primary-color),
      calc(-2 * var(--w)) -1.2em var(--primary-color),
      calc(-3 * var(--w)) -1.2em var(--primary-color),
      calc(-4 * var(--w)) -1.2em var(--primary-color),
      calc(-5 * var(--w)) -1.2em var(--primary-color),
      calc(-6 * var(--w)) -1.2em var(--primary-color),
      calc(-7 * var(--w)) -1.2em var(--primary-color),
      calc(-8 * var(--w)) -1.2em var(--primary-color),
      calc(-9 * var(--w)) -1.2em var(--primary-color);
  }
  8% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) -1.2em var(--primary-color),
      calc(-3 * var(--w)) -1.2em var(--primary-color),
      calc(-4 * var(--w)) -1.2em var(--primary-color),
      calc(-5 * var(--w)) -1.2em var(--primary-color),
      calc(-6 * var(--w)) -1.2em var(--primary-color),
      calc(-7 * var(--w)) -1.2em var(--primary-color),
      calc(-8 * var(--w)) -1.2em var(--primary-color),
      calc(-9 * var(--w)) -1.2em var(--primary-color);
  }
  12% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) 0 var(--primary-color),
      calc(-3 * var(--w)) -1.2em var(--primary-color),
      calc(-4 * var(--w)) -1.2em var(--primary-color),
      calc(-5 * var(--w)) -1.2em var(--primary-color),
      calc(-6 * var(--w)) -1.2em var(--primary-color),
      calc(-7 * var(--w)) -1.2em var(--primary-color),
      calc(-8 * var(--w)) -1.2em var(--primary-color),
      calc(-9 * var(--w)) -1.2em var(--primary-color);
  }
  16% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) 0 var(--primary-color),
      calc(-3 * var(--w)) 0 var(--primary-color),
      calc(-4 * var(--w)) -1.2em var(--primary-color),
      calc(-5 * var(--w)) -1.2em var(--primary-color),
      calc(-6 * var(--w)) -1.2em var(--primary-color),
      calc(-7 * var(--w)) -1.2em var(--primary-color),
      calc(-8 * var(--w)) -1.2em var(--primary-color),
      calc(-9 * var(--w)) -1.2em var(--primary-color);
  }
  20% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) 0 var(--primary-color),
      calc(-3 * var(--w)) 0 var(--primary-color),
      calc(-4 * var(--w)) 0 var(--primary-color),
      calc(-5 * var(--w)) -1.2em var(--primary-color),
      calc(-6 * var(--w)) -1.2em var(--primary-color),
      calc(-7 * var(--w)) -1.2em var(--primary-color),
      calc(-8 * var(--w)) -1.2em var(--primary-color),
      calc(-9 * var(--w)) -1.2em var(--primary-color);
  }
  24% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) 0 var(--primary-color),
      calc(-3 * var(--w)) 0 var(--primary-color),
      calc(-4 * var(--w)) 0 var(--primary-color),
      calc(-5 * var(--w)) 0 var(--primary-color),
      calc(-6 * var(--w)) -1.2em var(--primary-color),
      calc(-7 * var(--w)) -1.2em var(--primary-color),
      calc(-8 * var(--w)) -1.2em var(--primary-color),
      calc(-9 * var(--w)) -1.2em var(--primary-color);
  }
  28% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) 0 var(--primary-color),
      calc(-3 * var(--w)) 0 var(--primary-color),
      calc(-4 * var(--w)) 0 var(--primary-color),
      calc(-5 * var(--w)) 0 var(--primary-color),
      calc(-6 * var(--w)) 0 var(--primary-color),
      calc(-7 * var(--w)) -1.2em var(--primary-color),
      calc(-8 * var(--w)) -1.2em var(--primary-color),
      calc(-9 * var(--w)) -1.2em var(--primary-color);
  }
  32% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) 0 var(--primary-color),
      calc(-3 * var(--w)) 0 var(--primary-color),
      calc(-4 * var(--w)) 0 var(--primary-color),
      calc(-5 * var(--w)) 0 var(--primary-color),
      calc(-6 * var(--w)) 0 var(--primary-color),
      calc(-7 * var(--w)) 0 var(--primary-color),
      calc(-8 * var(--w)) -1.2em var(--primary-color),
      calc(-9 * var(--w)) -1.2em var(--primary-color);
  }
  36% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) 0 var(--primary-color),
      calc(-3 * var(--w)) 0 var(--primary-color),
      calc(-4 * var(--w)) 0 var(--primary-color),
      calc(-5 * var(--w)) 0 var(--primary-color),
      calc(-6 * var(--w)) 0 var(--primary-color),
      calc(-7 * var(--w)) 0 var(--primary-color),
      calc(-8 * var(--w)) 0 var(--primary-color),
      calc(-9 * var(--w)) -1.2em var(--primary-color);
  }
  40%,
  60% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) 0 var(--primary-color),
      calc(-3 * var(--w)) 0 var(--primary-color),
      calc(-4 * var(--w)) 0 var(--primary-color),
      calc(-5 * var(--w)) 0 var(--primary-color),
      calc(-6 * var(--w)) 0 var(--primary-color),
      calc(-7 * var(--w)) 0 var(--primary-color),
      calc(-8 * var(--w)) 0 var(--primary-color),
      calc(-9 * var(--w)) 0 var(--primary-color);
  }
  64% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) 0 var(--primary-color),
      calc(-3 * var(--w)) 0 var(--primary-color),
      calc(-4 * var(--w)) 0 var(--primary-color),
      calc(-5 * var(--w)) 0 var(--primary-color),
      calc(-6 * var(--w)) 0 var(--primary-color),
      calc(-7 * var(--w)) 0 var(--primary-color),
      calc(-8 * var(--w)) 0 var(--primary-color),
      calc(-9 * var(--w)) 1.2em var(--primary-color);
  }
  68% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) 0 var(--primary-color),
      calc(-3 * var(--w)) 0 var(--primary-color),
      calc(-4 * var(--w)) 0 var(--primary-color),
      calc(-5 * var(--w)) 0 var(--primary-color),
      calc(-6 * var(--w)) 0 var(--primary-color),
      calc(-7 * var(--w)) 0 var(--primary-color),
      calc(-8 * var(--w)) 1.2em var(--primary-color),
      calc(-9 * var(--w)) 1.2em var(--primary-color);
  }
  72% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) 0 var(--primary-color),
      calc(-3 * var(--w)) 0 var(--primary-color),
      calc(-4 * var(--w)) 0 var(--primary-color),
      calc(-5 * var(--w)) 0 var(--primary-color),
      calc(-6 * var(--w)) 0 var(--primary-color),
      calc(-7 * var(--w)) 1.2em var(--primary-color),
      calc(-8 * var(--w)) 1.2em var(--primary-color),
      calc(-9 * var(--w)) 1.2em var(--primary-color);
  }
  76% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) 0 var(--primary-color),
      calc(-3 * var(--w)) 0 var(--primary-color),
      calc(-4 * var(--w)) 0 var(--primary-color),
      calc(-5 * var(--w)) 0 var(--primary-color),
      calc(-6 * var(--w)) 1.2em var(--primary-color),
      calc(-7 * var(--w)) 1.2em var(--primary-color),
      calc(-8 * var(--w)) 1.2em var(--primary-color),
      calc(-9 * var(--w)) 1.2em var(--primary-color);
  }
  80% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) 0 var(--primary-color),
      calc(-3 * var(--w)) 0 var(--primary-color),
      calc(-4 * var(--w)) 0 var(--primary-color),
      calc(-5 * var(--w)) 1.2em var(--primary-color),
      calc(-6 * var(--w)) 1.2em var(--primary-color),
      calc(-7 * var(--w)) 1.2em var(--primary-color),
      calc(-8 * var(--w)) 1.2em var(--primary-color),
      calc(-9 * var(--w)) 1.2em var(--primary-color);
  }
  84% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) 0 var(--primary-color),
      calc(-3 * var(--w)) 0 var(--primary-color),
      calc(-4 * var(--w)) 1.2em var(--primary-color),
      calc(-5 * var(--w)) 1.2em var(--primary-color),
      calc(-6 * var(--w)) 1.2em var(--primary-color),
      calc(-7 * var(--w)) 1.2em var(--primary-color),
      calc(-8 * var(--w)) 1.2em var(--primary-color),
      calc(-9 * var(--w)) 1.2em var(--primary-color);
  }
  88% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) 0 var(--primary-color),
      calc(-3 * var(--w)) 1.2em var(--primary-color),
      calc(-4 * var(--w)) 1.2em var(--primary-color),
      calc(-5 * var(--w)) 1.2em var(--primary-color),
      calc(-6 * var(--w)) 1.2em var(--primary-color),
      calc(-7 * var(--w)) 1.2em var(--primary-color),
      calc(-8 * var(--w)) 1.2em var(--primary-color),
      calc(-9 * var(--w)) 1.2em var(--primary-color);
  }
  92% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 0 var(--primary-color),
      calc(-2 * var(--w)) 1.2em var(--primary-color),
      calc(-3 * var(--w)) 1.2em var(--primary-color),
      calc(-4 * var(--w)) 1.2em var(--primary-color),
      calc(-5 * var(--w)) 1.2em var(--primary-color),
      calc(-6 * var(--w)) 1.2em var(--primary-color),
      calc(-7 * var(--w)) 1.2em var(--primary-color),
      calc(-8 * var(--w)) 1.2em var(--primary-color),
      calc(-9 * var(--w)) 1.2em var(--primary-color);
  }
  96% {
    text-shadow: calc(0 * var(--w)) 0 var(--primary-color),
      calc(-1 * var(--w)) 1.2em var(--primary-color),
      calc(-2 * var(--w)) 1.2em var(--primary-color),
      calc(-3 * var(--w)) 1.2em var(--primary-color),
      calc(-4 * var(--w)) 1.2em var(--primary-color),
      calc(-5 * var(--w)) 1.2em var(--primary-color),
      calc(-6 * var(--w)) 1.2em var(--primary-color),
      calc(-7 * var(--w)) 1.2em var(--primary-color),
      calc(-8 * var(--w)) 1.2em var(--primary-color),
      calc(-9 * var(--w)) 1.2em var(--primary-color);
  }
  100% {
    text-shadow: calc(0 * var(--w)) 1.2em var(--primary-color),
      calc(-1 * var(--w)) 1.2em var(--primary-color),
      calc(-2 * var(--w)) 1.2em var(--primary-color),
      calc(-3 * var(--w)) 1.2em var(--primary-color),
      calc(-4 * var(--w)) 1.2em var(--primary-color),
      calc(-5 * var(--w)) 1.2em var(--primary-color),
      calc(-6 * var(--w)) 1.2em var(--primary-color),
      calc(-7 * var(--w)) 1.2em var(--primary-color),
      calc(-8 * var(--w)) 1.2em var(--primary-color),
      calc(-9 * var(--w)) 1.2em var(--primary-color);
  }
}

.card-loading-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  opacity: 1;
  align-items: center;
  justify-content: center;
  transition: 1s ease;
}

.loading-screen {
  width: 50vmin;
  height: 50vmin;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  perspective: 1000vmin;
}

.bars {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 6.5vmin 3vmin;
  animation: mirror1 calc(var(--s) * 2) ease 0s infinite;
}

.bars + .bars {
  transform: rotate(90deg) rotateX(180deg);
  animation: mirror2 calc(var(--s) * 2) ease calc(var(--s) / 2) infinite;
}

.bar {
  width: 44vmin;
  height: 3vmin;
  margin: 2vmin 0vmin;
  background: linear-gradient(
    90deg,
    #fff0 33%,
    var(--primary-color) 33% 67%,
    #fff0 67% 100%
  );
  animation: grow var(--s) ease-in-out 0s infinite alternate;
  background-size: 300%;
  background-position-x: -203%;
}

@keyframes mirror1 {
  0%,
  47%,
  99.99%,
  100% {
    transform: rotate(180deg) rotateX(0deg);
  }
  47.01%,
  99.98% {
    transform: rotate(180deg) rotateX(180deg);
  }
}

@keyframes mirror2 {
  0%,
  47%,
  99.99%,
  100% {
    transform: rotate(90deg) rotateX(180deg);
  }
  47.01%,
  99.98% {
    transform: rotate(90deg) rotateX(0deg);
  }
}

@keyframes grow {
  0%,
  25% {
    background-position-x: -297%;
  }
  45%,
  55% {
    background-position-x: -250%;
  }
  75%,
  100% {
    background-position-x: -203%;
  }
}

.bar:nth-child(2) {
  animation-delay: calc(var(--s) * -0.02);
}
.bar:nth-child(3) {
  animation-delay: calc(var(--s) * -0.04);
}
.bar:nth-child(4) {
  animation-delay: calc(var(--s) * -0.06);
}
.bar:nth-child(5) {
  animation-delay: calc(var(--s) * -0.08);
}
.bar:nth-child(6) {
  animation-delay: calc(var(--s) * -0.1);
}
.bar:nth-child(7) {
  animation-delay: calc(var(--s) * -0.12);
}

.bars:nth-child(2) .bar:nth-child(1) {
  animation-delay: calc(calc(var(--s) * -0.001) - calc(var(--s) / 2));
}
.bars:nth-child(2) .bar:nth-child(2) {
  animation-delay: calc(calc(var(--s) * -0.02) - calc(var(--s) / 2));
}
.bars:nth-child(2) .bar:nth-child(3) {
  animation-delay: calc(calc(var(--s) * -0.04) - calc(var(--s) / 2));
}
.bars:nth-child(2) .bar:nth-child(4) {
  animation-delay: calc(calc(var(--s) * -0.06) - calc(var(--s) / 2));
}
.bars:nth-child(2) .bar:nth-child(5) {
  animation-delay: calc(calc(var(--s) * -0.08) - calc(var(--s) / 2));
}
.bars:nth-child(2) .bar:nth-child(6) {
  animation-delay: calc(calc(var(--s) * -0.1) - calc(var(--s) / 2));
}
.bars:nth-child(2) .bar:nth-child(7) {
  animation-delay: calc(calc(var(--s) * -0.12) - calc(var(--s) / 2));
}
